.aboutContainer {
  min-height: calc(80vh);
}

.heading {
  font-size: var(--font-medium);
  color: var(--greyDark);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.list {
  margin: 1rem 0;
}

.list li:not(:last-child) {
  margin-bottom: 1rem;
}

.list li span {
  font-size: var(--font-medium);
  font-weight: 500;
}